.header{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding:.5em 1em;
    grid-gap: .5em;
    align-content: center;
  
    .column{
        img{
            display: inline-block;
            width:100%;
            margin-top: 13%;
        }
        p{
            margin-right: auto;
            font-weight: bold;
            font-size: 2.3em;
            margin:0;
        }
    }

}